*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.vscode
.pydevproject
.idea/workspace.xml
.env

.git/
.vagrant/
.venv/
.sass-cache
.DS_Store
__pycache__

dist/
deploy/
docs/
logs/

storage/assets/classifier-LBPH.yml
storage/media/*
storage/staticfiles/*
