[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
django-environ = "*"
whitenoise = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
drf-spectacular = "*"
django-debug-toolbar = "*"
django-filter = "*"
gunicorn = "*"
django-cors-headers = "*"
pillow = "*"
django-jazzmin = "*"
drf-standardized-errors = "*"
opencv-contrib-python-headless = "~=4.5"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
